/* Master Styles*/

body {
  background:#21212a;
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;

}

/* Nav Styles*/

.nav-wrapper {
  display: flex;
  background: #11111a;
  justify-content: space-between;
  padding: 30px
}

.left-side {
  display: flex;
}

.nav-link-wrapper {
  height: 20px;
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid #4c97d9;
}

.active-nav-link a {
  color: #4c97d9 !important;
}

.nav-link-wrapper a {
  color: #aaaaaa;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid #4c97d9;
}

.nav-link-wrapper a:hover {
  color: #4c97d9;
}

.right-side {
  color: #4c97d9;
  text-decoration: none;
}

/* Portfolio Styles*/

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-bg {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  cursor: pointer;
}

.fill-div {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
}

.logo-wrapper img{
  width: 50%;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle{
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle{
  font-weight: 600;
  color: #4c97d9;
}

.img-darken {
  transition: 1s;
  filter: brightness(30%);
}

/* About Styles */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
  color: #aaaaaa;
}

.profile-content-wrapper h1 {
  color: #4c97d9;
}

/* Blog Styles */

.blog-image-wrapper img {
  width: 100%;
}

.blog-content-wrapper h1 {
  color: #4c97d9;
  padding: 0 30px 0 30px
}

.blog-content-wrapper p {
  padding: 0 30px 0 30px;
  color: #aaaaaa;
}
