body {
  margin: 0;
  background: #121212;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --shadow-color: #090909;
  --bg: #121212;
  --bg-layer1: #181818;
  --bg-layer2: #1a1a1a;
  --accent1: #99CAEC;
  --accent2: #EC99C9;
  --text-color: #ddd;
  --nav-size: 90px;
  --border: 1px solid #99CAEC;
  --border-radius: 10px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

/* Top Navigation Bar */
/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg-layer1);
  font-size: 18px;
  margin: 5px 10px 0px 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0px 0px 8px var(--shadow-color));
}

/* My Name */
.name{
  display: flex;
  align-items: center;
  width: 8rem;
  transition: var(--speed);
}
.name:hover {
  color: var(--accent1);
}
/* <ul> */
.navbar-nav {
  display: flex;
  align-items: center;
  transition: 300ms;
}
/* <li> */
.nav-item-enter-done {
  transition: 300ms;
}
.nav-item-exit-done {
  transition: 300ms;
}
.nav-item-enter-done > .icon-button {
  color: var(--accent1);
}
.nav-item-enter-done > .icon-button::before {
  color: var(--accent1);
  transform: scaleX(1)
}
.nav-item-enter-done > .icon-button svg {
  fill: var(--accent1);
  transform: rotate(-180deg)
}

/* Icon Button */
.icon-button {
  position: relative;
  width: auto;
  border-radius: var(--border-radius);
  margin: 1.5rem;
  display: flex;
  align-items: center;
  transition: 300ms;
}
.icon-button svg { 
  fill: var(--text-color);
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
  transition: 300ms;
}
.icon-button:hover {
  color: var(--accent1);
}
.icon-button:hover svg {
  fill: var(--accent1);
  transform: rotate(-180deg);
}
.icon-button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 100%;
  background-color: var(--accent1);
  transform: scaleX(0);
  transform-origin: top left;
  transition: 300ms ease-in-out;
}
.icon-button:hover::before {
  transform: scaleX(1);
}

/* Dropdown Menu */
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 85px;
  background-color: var(--bg-layer2);
  border-radius: var(--border-radius);
  margin-right: 120px;
  filter: drop-shadow(0px 0px 3px var(--shadow-color));
  padding: 1rem;
  opacity: 0;
  transition: var(--speed) ease-in-out;
}
.menu-button {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 1rem;
  margin-right: 0.75rem;
  transition: 300ms;
}
.menu-button svg { 
  fill: var(--text-color);
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  transition: 300ms ease-in-out;
}
.menu-button:hover{
  color: #99CAEC;
}
.menu-button:hover svg {
  fill: #99CAEC;
  transform: rotate(30deg);
}
.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.nav-item-exit.nav-item-exit-active > .dropdown{
  position: absolute;
  top: 70px;
  opacity: 0;
}
.nav-item-enter-done > .dropdown {
  position: absolute;
  top: 80px;
  opacity: 1;
  transition: 300ms ease-in;
}
.nav-item-enter.nav-item-enter-active > .dropdown{
  position: absolute;
  top: 80px;
  opacity: 1;
  transition: 300ms ease-in;
}
.nav-item-exit-done > .dropdown {
  position: absolute;
  top: 70px;
  opacity: 0;
}
