/* Globals */
:root {
  --shadow-color: #090909;
  --bg: #121212;
  --bg-layer1: #181818;
  --bg-layer2: #1a1a1a;
  --accent1: #99caec;
  --accent2: #50a5e5;
  --accent3: #EC99C9;
  --text-color: #ddd;
  --nav-size: 90px;
  --border-radius: 20px;
  --speed: 300ms;
  --main-width: clamp(400px, 75%, 700px);
}
body {
  background: #121212;
  color: #dddddd;
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--bg-layer1);
  height: var(--nav-size);
  font-size: 18px;
  margin: 5px 5px 0 10px;
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 0px 8px var(--shadow-color));
}

/* Navbar Left */
.name {
  display: flex;
  align-items: center;
  width: 8em;
  font-size: 20px;
  margin: 0 10% 0 1.5rem;
  transition: var(--speed);
}
.name:hover {
  color: var(--accent1);
}

/* Navbar Right */
.navbar-nav {
  display: flex;
  align-items: center;
}
.nav-item-enter-done > .icon-button {
  color: var(--accent1);
}
.nav-item-enter-done > .icon-button::before {
  color: var(--accent1);
  transform: scaleX(1)
}
.nav-item-enter-done > .icon-button svg {
  fill: var(--accent1);
  transform: rotate(-180deg)
}

/* Icon Button */
.icon-button {
  position: relative;
  width: auto;
  border-radius: var(--border-radius);
  margin: 1.5rem;
  display: flex;
  align-items: center;
  transition: 300ms;
}
.icon-button svg { 
  fill: var(--text-color);
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
  transition: 300ms;
}

/* Button Underline Animation */
.icon-button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 100%;
  background-color: var(--accent1);
  transform: scaleX(0);
  transform-origin: top left;
  transition: 300ms ease-in-out;
}
.icon-button:hover::before {
  transform: scaleX(1);
}

/* Dropdown Menu */
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 85px;
  background-color: var(--bg-layer2);
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 0px 3px var(--shadow-color));
  padding: 1em;
  opacity: 0;
  transition: var(--speed) ease;
}
.menu-button {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1em;
  transition: 300ms;
}
.menu-button svg { 
  fill: var(--text-color);
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  transition: 300ms ease-in-out;
}
.menu-button:hover{
  color: var(--accent1);
}
.menu-button:hover svg {
  fill: var(--accent1);
  transform: rotate(30deg);
}

/* Dropdown Menu Animations  */
.nav-item-enter-done > .dropdown {
  position: absolute;
  top: 80px;
  opacity: 1;
}
.nav-item-exit-done > .dropdown {
  position: absolute;
  top: 75px;
  opacity: 0;
}

/* Home Page */
.content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-body h1 {
  margin-top: 1em;
  color: var(--accent1);
  transition: var(--speed);
}
.content-body .title-with-link:hover {
  color: var(--accent2);
}
.content-body img {
  position: relative;
  z-index: -1;
  width: var(--main-width);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 12px var(--shadow-color));
  margin: 1rem;
}
.paragraph-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: -1;
  width: var(--main-width);
  background-color: var(--bg-layer1);
  padding: 1em 2em 1em 2em;
  margin: 1em;
  font-size: 18px;
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 0px 12px var(--shadow-color));
}
.paragraph-wrapper p {
  text-indent: 2em;
  text-align: justify;
  line-height: 1.5;
}
.paragraph-wrapper ul {
  list-style: circle;
  padding: 1em 2em 0 2em;
  text-indent: 1em;
}
.paragraph-wrapper li {
  padding-bottom: 1em;
}
.button-container {
  display: flex;
  justify-content: center;
}
.projects-button {
  display: flex;
  justify-content: center;
  background-color: var(--accent1);
  color: var(--bg);
  border-radius: 20px;
  width: 10em;
  font-weight: bold;
  padding: .5em;
  margin-top: 1em;
  margin-bottom: 2em;
  filter: drop-shadow(0px 0px 8px var(--shadow-color));
  transition: 300ms;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: var(--main-width);
  background-color: var(--bg-layer1);
  padding: 1em 2em 0em 2em;
  margin: 1em;
  font-size: 18px;
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 0px 12px var(--shadow-color));
}
.content-wrapper p {
  text-indent: 2em;
  text-align: justify;
  line-height: 1.5;
  margin: 0 0 2em 0;
}
.content-wrapper h2 {
text-align: center;
}
.content-wrapper .projects-button:hover {
  background-color: var(--accent2);
}
.project-image-container {
  display: flex;
  justify-content: center;
}
.project-image-container img {
  border-radius: 0;
  width: 50%;
}

/* UnderConstruction Page */
.gear-icon {
  width: 60%;
  padding: 4em;
  animation: rotation 15s infinite ease-out;
}
.under-construction {
  width: var(--main-width);
  color: var(--accent1);
  text-align: center;
}
@keyframes rotation {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(36deg);}
  20% {transform: rotate(72deg);}
  30% {transform: rotate(108deg);}
  40% {transform: rotate(144deg);}
  50% {transform: rotate(180deg);}
  60% {transform: rotate(216deg);}
  70% {transform: rotate(252deg);}
  80% {transform: rotate(288deg);}
  90% {transform: rotate(324deg);}
  100% {transform: rotate(360deg);}
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 16px;
  background-color: var(--text-color);
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 8px;
  border: 3px solid var(--bg);
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}